.navbar {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.img-logo {
    width: 14%;
    margin-left: 10px;
}

.navbar-brand {
    p {
        font-family: Roboto-Light;
        color: #1F3569;
        text-decoration: none;
        font-size: 1.2em;
        display: inline;
    }
    b {
        color: #EF872F;
    }
}

.datosUser {
    p {
        font-family: Roboto-Regular;
        font-size: 1.2em;
    }
}

.cerrarSesion {
    margin-top: -20px;
}

.d-flex {
    position: absolute;
    right: 30px;
}

.btn {
    width: 10vw;
    height: 8vh;
    font-family: Roboto-Medium;
    font-size: 1.1em;
    background: #203568;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-color: transparent;
}

@media (max-width:450px) {
    .navbar-brand {
        p {
            display: none !important;
        }
    }
    .img-logo {
        width: 15% !important;
    }
    .d-flex {
        right: 0px;
    }
    .cerrarSesion {
        button {
            font-size: 0.7em;
            width: 90% !important;
            height: 8vh;
        }
    }
    .navbar-brand {
        p {
            font-size: 0.8em;
            width: 20px;
        }
    }
    .datosUser {
        p {
            font-size: 0.8em;
        }
    }
    .d-flex {
        svg {
            font-size: 1.5em;
        }
    }
}

@media (max-width:1080px) {
    .img-logo {
        width: 8%;
    }
    .divDatosUser {
        svg {
            font-size: 1.5em;
        }
    }
    .navbar-brand {
        p {
            font-size: 0.7em;
        }
    }
    .datosUser {
        p {
            font-size: 0.8em;
        }
    }
}
