<app-header></app-header>
<div class="container-fluid">
    <form [formGroup]="filterForm" (ngSubmit)="segundaConsulta()">
        <div class="row mt-5 ms-4 me-4">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <p class="tituloInput">Zona</p>
                        <input formControlName="zona" list="filterZona" name="filterZona" placeholder="Selecciona una Zona" id="zona" required autocomplete="off" (change)="reiniciar($event)">
                        <datalist id="filterZona">
                            <option [value]="item.nombre" *ngFor="let item of zona">
                                {{item.area}} {{item.nombre}}
                            </option>
                        </datalist>
                    </div>
                    <div class="col">
                        <p class="tituloInput">Años de contrato</p>
                        <select id="filterAnio" formControlName="aniosDeContrato" list="filterAnio" name="filterAnio" placeholder="Selecciona un año" id="aniosDeContrato" (change)="limpiarIndicadores()" autocomplete="off" required>
                            <option [value]="item" *ngFor="let item of this.anioArray">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="subtitulos" href="/">
                        <img src="../../../assets/icons/icon-inversion.png" alt="" class="img-subtitulos me-3">
                        <p>Inversión <b>inicial</b></p>
                    </div>
                </div>
                <div class="row mt-3">
                    <p class="tituloInput">Activos</p>
                    <p class="descripcion">Importe estimado de los equipos en comodato. El monto debe ser considerado como nuevo por el valor de reposición. El valor de recuperación se considera al final del plazo del contrato.
                    </p>
                    <label>$<input type="text" style="margin-left: 10px; text-align: right;" placeholder="0" formControlName="activos" required id="activos" autocomplete="off"></label>
                </div>
                <div class="row mt-4">
                    <p class="tituloInput">Gastos preoperativos</p>
                    <p class="descripcion">Monto estimado para la instalación y traslado de equipos.</p>
                    <label>$<input type="text" style="margin-left: 10px; text-align: right;" placeholder="0" formControlName="gastosPreoperativos" required id="gastosPreoperativos" autocomplete="off"></label>
                </div>
            </div>
            <div class="col ms-2">
                <div class="divNotaImportante">
                    <div class="col ps-5 pe-5 pt-4">
                        <div class="row">
                            <div class="navbar-brand" href="/">
                                <img src="../../../assets/icons/icon-nota.png" alt="" class="img-logo me-3">
                                <p style="font-size: 25px;">Nota <b>importante</b></p>
                            </div>
                        </div>
                        <div class="row ps-4 pe-4 pt-3 notaDescripcion">
                            <ul>
                                <li> El <b> resultado financiero generado por el simulador no garantiza la aprobación
                                        del
                                        proyecto </b> en caso de error u omisión de datos significativos para su evaluación.
                                </li>
                                <li> Esto es una referencia que aplica para <b> consumos nuevos.</b> </li>
                                <li> <b> Estimación preliminar</b> antes de la evaluación de proyectos. </li>
                            </ul>
                        </div>
                        <div class="row notaFooter pt-3">
                            <p><b> Esto no sustituye la evaluación financiera </b><br> validada por la OCP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ms-3 me-3 mt-3">
            <div class="subtitulos" href="/">
                <img src="../../../assets/icons/icon-venta.png" alt="" class="img-subtitulos me-3">
                <p>Venta <b>incremental</b></p>
            </div>
        </div>
        <div class="row ms-3 me-3 mt-3">
            <div class="divVenta">
                <div class="table-responsive">
                    <table class="table table-fixed table-borderless table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Linea</th>
                                <th scope="col" class="col-sm-3">Código</th>
                                <th scope="col" class="col-sm-1">Precio piso</th>
                                <th scope="col">Precio propuesto</th>
                                <th scope="col">Volumen incremental</th>
                                <th scope="col">Venta incremental anual</th>
                                <th scope="col">Distribuye Cryoinfra</th>
                                <th scope="col" class="col-sm-1">
                                    <button type="button" class="btn btn-primary" (click)="resetearModal()" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="!filterForm.valid"><i class="fa fa-plus" style="display:inline"></i>
                                        Código
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody id="filas">

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content" style="overflow-x: scroll;">
                                        <div class="modal-body">
                                            <table class="table table-fixed table-borderless table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Linea</th>
                                                        <th scope="col" class="col-sm-3">Código</th>
                                                        <th scope="col" class="col-sm-1">Precio piso</th>
                                                        <th scope="col">Precio propuesto</th>
                                                        <th scope="col">Volumen incremental</th>
                                                        <th scope="col">Venta incremental anual</th>
                                                        <th scope="col">Distribuye Cryoinfra</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input class="linea" formControlName="linea" (change)="selectCodigo($event)" list="filterLinea" name="filterLinea" placeholder="Selecciona una Linea" autocomplete="off" id="linea" [(ngModel)]="modeloCodigos.linea">
                                                            <datalist id="filterLinea">
                                                                <option [value]="item.linea" *ngFor="let item of linea">
                                                                    {{item.linea}} {{item.descripcion}}
                                                                </option>
                                                            </datalist>
                                                        </td>
                                                        <td><input class="codigo" formControlName="codigo" list="filterCodigo" name="filterCodigo" placeholder="Selecciona un código" id="codigo" autocomplete="off" [(ngModel)]="modeloCodigos.codigo" (change)="selectedCodigo($event)">
                                                            <datalist id="filterCodigo">
                                                                <option [value]="item.codigo" *ngFor="let item of codigo">
                                                                    {{item.codigo}} {{item.descripcion}}
                                                                </option>
                                                            </datalist>
                                                        </td>
                                                        <td style="padding-top: 20px;"><span [(ngModel)]="modeloCodigos.spanPrecioPiso">$ {{spanPrecioPiso | number : '1.2'}}</span></td>
                                                        <td><input type="text" class="propuesto" placeholder="$ 0.0" formControlName="propuesto" id="propuesto" autocomplete="off" [(ngModel)]="modeloCodigos.propuesto"></td>
                                                        <td><input type="text" class="volumen" placeholder="0" formControlName="volumen" id="volumen" tabindex="-1" (keyup)="primeraConsulta(filterForm.value)" autocomplete="off" [(ngModel)]="modeloCodigos.volumen">{{selectedUMSpan}}
                                                        </td>
                                                        <td style="padding-top: 20px;" [(ngModel)]="modeloCodigos.spanVolumen" tabindex="-1">$ {{spanVolumen | number : '1.2'}}</td>
                                                        <td style="padding-top: 20px;"><label class="switch ms-4">
                                                                <input type="checkbox" formControlName="tipoOperacion" id="cryoinfraSpan"  (change)="primeraConsulta(filterForm.value)"
                                                                    [(ngModel)]="modeloCodigos.tipoOperacion">
                                                                <span class="slider round" checked></span>
                                                            </label></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary remover" id="botonAgregar" (click)="agregarElemento(filterForm.value)">Agregar</button> <img id="img-loader" src="../../../assets/img/loader.gif" width="20px">
                                            <button type="button" class="btn btn-primary remover btnGuardar" id="btnGuardar" (click)="btnEditarElemento()">Actualizar</button><img id="img-loader" src="../../../assets/img/loader.gif" width="20px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <tr *ngFor="let x of arrayCodigos; let i = index">
                                <td><input class="linea" placeholder="{{x.linea}}" [disabled]="true" readonly value="{{x.linea}}">
                                </td>
                                <td><input class="codigo" placeholder="{{x.codigo}}" [disabled]="true" readonly value="{{x.codigo}}">
                                </td>
                                <td style="padding-top: 20px;"><span>$ {{x.precioPiso | number : '1.2'}}</span></td>
                                <td><input type="text" class="propuesto" placeholder="{{x.propuesto}}" [disabled]="true" readonly value="{{x.propuesto}}"></td>
                                <td><input type="text" class="volumen" placeholder="{{x.volumen}}" [disabled]="true" readonly value="{{x.volumen}}"> {{x.selectedUMSpan}}
                                </td>
                                <td style="padding-top: 20px;">$ {{x.totalVolumen | number : '1.2'}}</td>
                                <td style="padding-top: 20px;"><label class="switch ms-4">
                                        <input type="checkbox"  [checked]="x.tipoOperacion"  [disabled]="true" readonly>
                                        <span class="slider round" checked></span>
                                    </label></td>
                                <td style=" font-size: 1.5em;">
                                    <a class="acciones" style="cursor: pointer;" (click)="eliminarElemento(i)"><i
                                            class="fa fa-trash"></i></a>
                                    <a class="acciones" style="cursor: pointer;" (click)="editarElemento(i)"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row ms-3 mt-3 ventasTotales">
            <div class="col posible">
                <div class="row division ">
                    <p class="mt-3">$ {{spanVentasTotalesAnuales | number : '1.2' }}</p>
                </div>
                <div class="row valor">
                    <p>Ventas totales anuales </p>
                </div>
            </div>
            <div class="col col-btnSimulacion">
                <button class="btn btn-primary simulacion me-5" type="submit" [disabled]="!filterForm.valid"><img
                        src="../../../assets/icons/icon-simular.png">Simular </button>
            </div>
        </div>
    </form>
    <div class="row ms-3 me-3 mt-3 tituloIndicadores">
        <div class="subtitulos" href="/">
            <img src="../../../assets/icons/icon-indicadores.png" alt="" class="img-subtitulos me-3">
            <p>Indicadores</p>
        </div>
    </div>
    <div class="row ms-3 me-3 mt-3">
        <div class="col mt-3 me-4">
            <div class="row indicadoresDivs">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/icons/icon-tir.png" class="mt-4 iconDiv">
                </div>
                <div class="col divisionDivs">
                    <div class="row division ">
                        <p class="mt-3"><span class="identificadorIndicadores">TIR</span><b>Tasa interna de retorno</b>
                        </p>
                    </div>
                    <div class="row mt-2">
                        <p><canvas class="color1" id="colorTIR"></canvas> {{tir | number : '1.2'}} %</p>
                    </div>
                </div>
            </div>
            <p class="indicadoresDescripcion">Para ser rentable la TIR debe ser mayor al 12%</p>
        </div>
        <div class="col  mt-3 me-4">
            <div class="row indicadoresDivs">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/icons/icon-vpn.png" class="mt-4 iconDiv">
                </div>
                <div class="col divisionDivs">
                    <div class="row division ">
                        <p class="mt-3"><span class="identificadorIndicadores">VPN</span><b>Valor presente neto</b></p>
                    </div>
                    <div class="row mt-2">
                        <p><canvas class="color2" id="colorVPN"></canvas> $ {{vpn | number : '1.2' }} </p>
                    </div>
                </div>
            </div>
            <p class="indicadoresDescripcion">Para ser rentable la VPN debe ser mayor a $ 0</p>
        </div>
        <div class="col  mt-3 me-4">
            <div class="row indicadoresDivs">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/icons/icon.prd.png" class="mt-4 iconDiv">
                </div>
                <div class="col divisionDivs">
                    <div class="row division ">
                        <p class="mt-3"><span class="identificadorIndicadores">PRD</span><b>Periodo de recuperación
                                descontado</b></p>
                    </div>
                    <div class="row mt-2">
                        <p><canvas class="color3" id="colorPRD"></canvas> {{prd}} </p>
                    </div>
                </div>
            </div>
            <p class="indicadoresDescripcion">La recuperación de la inversión debe ser menor a la duración del contrato.
            </p>
        </div>
    </div>
</div>
<ngx-spinner type="ball-scale-multiple">
    <p style="color: white"> Calculando datos... </p>
</ngx-spinner>